body{
    background-color: slateblue;
    color:white;
    width:60%;
    min-width: 300px;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    margin-top:40px;
    text-align:center;
}
nav{
    font-size: 20px;
    height:30px;
    width:280px;
    margin:auto;
    border: 2px;
    border-color: black;
    border-style: ridge;
    background-color:navy;
}
nav a {
    color:white;
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
}
nav a:hover{
    background-color:purple;
}

#content{
    text-align:left;
}
footer{
    text-align:left;    
}
footer img{
    width:25px;
    height:25px;
}
.selected{
    color:red;
}
#created{
    color:yellow;
}
#member{
    color:mediumspringgreen;
}