<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="../css/projects.css">
    <title>PROJECT TITLE - Deletecat</title>
</head>
<body>
    <header>
        <h1>Deletecat</h1>
        <hr>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="/posts" class="selected">Blog</a> |
            <a href="../projects">Projects</a>
        </nav>
        <hr>
    </header>
    <div id="content">
        
    <footer>
        <hr>
        <a href="https://kitty.social/@deletecat" rel="me"><img src="/media/icons/firefish-icon.png"/></a>
        <a href="https://github.com/deletecat"><img src="/media/icons/github-icon.png"/></a>
        <a href="mailto:kit@deletecat.com"><img src="/media/icons/email-icon.png"/></a>
        &copy;Deletecat - 2023
    </footer>
</body>
</html>